<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <div class="image-container">
          <ion-img src="assets/icon/logo.png" alt="Parent Image" class="parent-image"></ion-img>
        </div>
        <div class="centered-title">
          <h1 class="header-title">Lesson</h1>
        </div>   
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/beginner-lesson">Beginner Lesson</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/intermediate-lesson">Intermediate Lesson</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/advanced-lesson" routerLinkActive="active">Advanced Lesson</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="tertiary" routerLink="/student-main">Back</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>