<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registration-main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registration-main</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/registration/teacher-registration">Teacher Registration</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/registration/student-registration">Student Registration</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/registration/parent-registration">Parent Registration</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
