<ion-content color="success">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        A Primary School Journey Into Programming
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/registration/teacher-registration">Teacher Registration</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/registration/student-registration">Student Registration</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/registration/parent-registration">Parent Registration</ion-button>
            </ion-col>
          </ion-row><ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="../login">Back</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div> 
</ion-content>
        
