<ion-header>
  <ion-toolbar>
    <ion-title>Manage Lessons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Title Input -->
  <ion-item>
    <ion-label position="floating"><strong>Lesson Title</strong></ion-label>
    <ion-input [(ngModel)]="lessonTitle" placeholder="Enter lesson title"></ion-input>
  </ion-item>

  <!-- Description Box -->
  <ion-item>
    <ion-label position="floating"><strong>Lesson Description</strong></ion-label>
    <ion-textarea [(ngModel)]="lessonDescription" rows="6" placeholder="Enter lesson description"></ion-textarea>
  </ion-item>

  <div class="button-container">
    <ion-button (click)="submitLesson()">Create Lesson</ion-button>
    <ion-button expand="full" routerLink="/teacher-main">Back</ion-button>
  </div>



  <!-- Displaying lessons -->
  <ion-list>
    <ion-item *ngFor="let lesson of lessons">
      <ion-label>
        <h2 *ngIf="!lesson.isEditing">{{ lesson.lessonTitle || 'Untitled Lesson' }}</h2>
        <ion-input *ngIf="lesson.isEditing" [(ngModel)]="lesson.newTitle" placeholder="Enter new title"></ion-input>
      </ion-label>

      <ion-label>
        <p *ngIf="!lesson.isEditing">{{ lesson.lessonDescription || 'No description provided' }}</p>
        <ion-textarea *ngIf="lesson.isEditing" [(ngModel)]="lesson.newDescription" placeholder="Enter new description"
          rows="4"></ion-textarea>
      </ion-label>

      <ion-button fill="clear" (click)="toggleEdit(lesson)">
        {{ lesson.isEditing ? 'Save Lesson' : 'Edit Lesson' }}
      </ion-button>
      <ion-button fill="clear" (click)="deleteLesson(lesson.id)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>