<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        A Primary School Journey Into Programming
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/teacher-assignment">Manage Assignment</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/teacher-lesson">Manage Lesson</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/class-main">Manage Class</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/student-progress">Student Progress</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" routerLink="/login">Sign Out</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div> 
</ion-content>